<div class="message" [ngClass]="{ 'message-alternative' : isMe, 'thread-message' : isThreadMessage, 'thread-message-alternative' : isMe && isThreadMessage }">
    <img class="avatar avatar-70" src="assets/img/{{ messageData.imageName }}" alt="{{messageData.imageName}}">
    <div class="main-message-container" [ngClass]="isMe ? 'main-message-container-alternative' : ''">
        <div class="message-header">
            <span class="user-name">{{ messageData.userName }}</span>
            <span class="message-posted-at">{{ messageData.postedAt.toLocaleTimeString().slice(0, -3) }}</span>
        </div>
        <div class="message-content" [ngClass]="{ 'message-content-alternative': isMe }">{{ messageData.content }}</div>
        @if (messageData.replies.length > 0 && !isThreadMessage) {
            <div class="bottom-message-container">
                <div (click)="openThread()" class="number-of-replies">{{ messageData.replies.length }} Antworten</div>
                <div class="last-reply-at">Letzte Antwort {{ messageData.lastReplyAt.toLocaleTimeString().slice(0, -3) }}</div>
            </div>
        }
        <div class="reactions-container">
            @if (messageData.reactions) {
                @for (reaction of messageData.reactions; track reaction) {
                    <div class="reaction-container">
                        <button class="reaction">
                            <img src="assets/img/emojis/{{reaction.emoji}}" alt=""><span>{{ reaction.userNames.length }}</span>
                        </button>
                        <div class="reaction-bubble">
                            <img src="assets/img/emojis/{{reaction.emoji}}" alt="">
                            <div>
                                <span class="reaction-bubble-username">{{ reaction.userNames[0] }}</span><br>
                                <span class="has-reacted">hat reagiert</span>
                            </div>
                        </div>
                    </div>
                }
                <span class="material-symbols-rounded">add_reaction</span>
            }
        </div>
    </div>
</div>