<div class="message" [ngClass]="{ 'message-alternative' : isMe, 'thread-message' : isThreadMessage, 'thread-message-alternative' : isMe && isThreadMessage }">
    <img class="avatar avatar-70" src="assets/img/{{ messageData.imageName }}" alt="{{messageData.imageName}}">
    <div class="main-message-container" [ngClass]="isMe ? 'main-message-container-alternative' : ''">
        <div class="message-header">
            <span class="user-name">{{ messageData.userName }}</span>
            <span class="message-posted-at">{{ messageData.postedAt.toLocaleTimeString().slice(0, -3) }}</span>
        </div>
        <div class="message-content" [ngClass]="{ 'message-content-alternative': isMe }">{{ messageData.content }}</div>
        @if (messageData.replies.length > 0 && !isThreadMessage) {
            <div class="bottom-message-container">
                <div (click)="openThread()" class="number-of-replies">{{ messageData.replies.length }} Antworten</div>
                <div class="last-reply-at">Letzte Antwort {{ messageData.lastReplyAt.toLocaleTimeString().slice(0, -3) }}</div>
            </div>
        }
        <div class="reactions-container">
            @if (messageData.reactions) {
                @for (reaction of messageData.reactions; track reaction) {
                    <div class="reaction-container">
                        <button class="reaction" (click)="addReaction(reaction)">
                            <img class="reaction-img" src="assets/img/emojis/{{reaction.emoji}}" alt="reaction emoji"><span>{{ reaction.userNames.length }}</span>
                        </button>
                        <div class="reaction-bubble">
                            <img class="reaction-img" src="assets/img/emojis/{{reaction.emoji}}" alt="reaction emoji">
                            <div>
                                @for (user of filterReactionUserNames(reaction.userNames) | slice:0:3; track user) {
                                    @if (user !== userName) {
                                        <span class="reaction-bubble-username">{{ user }}</span><br>
                                    }
                                }
                                @if (didIReact(reaction)) {
                                    <span class="reaction-bubble-username">Du</span><br>
                                }
                                @if (reaction.userNames.length > 3 && !didIReact(reaction) || reaction.userNames.length > 4 && didIReact(reaction)) {
                                    <span class="has-reacted">und weitere</span><br>
                                    <span class="has-reacted">haben reagiert</span>
                                }
                                @else if (reaction.userNames.length > 1) {
                                    <span class="has-reacted">haben reagiert</span>
                                } @else {
                                    @if (didIReact(reaction)) {
                                        <span class="has-reacted">hast reagiert</span>
                                    } @else {
                                        <span class="has-reacted">hat reagiert</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                <span class="material-symbols-rounded">add_reaction</span>
            }
        </div>
    </div>
    <div class="message-menu chat-message-menu" [ngClass]="{ 'chat-message-menu-alternative': isMe }">
        <div class="icon-btn">
            <img class="reaction-img" src="assets/img/emojis/{{menuEmojis()[0]}}" alt="menu emoji 1">
        </div>
        <div class="icon-btn">
            <img class="reaction-img" src="assets/img/emojis/{{menuEmojis()[1]}}" alt="menu emoji 2">
        </div>
        <div class="icon-btn">
            <span class="material-symbols-rounded">add_reaction</span>
        </div>
        <div class="icon-btn">
            <span class="material-symbols-rounded">comment</span>
        </div>
    </div>
</div>