@import '../../../../styles/mixin.scss';

.message {
    position: relative;
    @include dFlex($jc: flex-start, $ai: normal);
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 146px;
    padding-bottom: 10px;
    gap: 30px;
    background-color: white;
    transition: background-color 100ms ease-out;
    &:hover {
        background-color: $bg-color;
        .message-content {
            background-color: white;
        }
        .message-menu {
            opacity: 1;
        }
        .chat-message-menu {
            right: 63px;
        }
        .chat-message-menu-alternative {
            right: unset;
            left: 63px;
        }
    }
}

.message-alternative {
    padding-top: 10px;
    padding-left: 146px;
    padding-right: 45px;
    padding-bottom: 10px;
    @include dFlex($fd: row-reverse, $jc: flex-start, $ai: normal);
    &:hover {
        .message-content {
            background-color: $purple-2;
        }
    }
}

.thread-message {
    padding-right: 40px;
}

.thread-message-alternative {
    padding-left: 40px;
}

.main-message-container {
    @include dFlex($fd: column, $jc: flex-start, $ai: normal);
    gap: 8px;
}

.main-message-container-alternative {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-end);
}

.message-content {
    @include dFlex;
    transition: background-color 100ms ease-out;
    background-color: $bg-color;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.message-content-alternative {
    background-color: $purple-2;
    color: white;
    border-radius: 30px 0px 30px 30px;
}

.edit-message-container {
    padding: 20px;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    width: 70%;
    background-color: white;
}

.edit-message-container-bottom {
    @include dFlex($jc: space-between);
}

.edit-message-button-container {
    @include dFlex($jc: normal);
    gap: 32px;
}

.edit-message-textarea {
    resize: none;
    width: 100%;
    border: unset;
    &:focus {
        outline: unset;
    }
}

.user-name {
        @include fontStyle3;
}

.message-header, .bottom-message-container {
    @include dFlex($jc: flex-start);
    gap: 20px;
}

.message-posted-at, .last-reply-at {
    @include fontStyle0;
}

.number-of-replies {
    color: $purple-3;
    cursor: pointer;
}

.reactions-container {
    @include dFlex($jc: normal, $ai: center);
    gap: 12px;
}

.reaction {
    @include dFlex($jc: normal, $ai: normal);
    background-color: white;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid $light-purple;
    cursor: pointer;
}

.reaction-img {
    height: 24px;
    width: 24px;
}

.reaction-container {
    position: relative;
    &:hover {
        .reaction-bubble {
            display: flex;
        }
    }
}

.reaction-bubble {
    position: absolute;
    z-index: 9999;
    background-color: $purple-1;
    @include dFlex($fd: column);
    display: none;
    text-align: center;
    min-width: 158px;
    bottom: 36.5px;
    left: 32px;
    padding: 15px 10px;
    gap: 5px;
    border-radius: 30px 30px 30px 0px;
    img {
        height: 30px;
        width: 30px;
    }
}

.reaction-bubble-username {
    text-wrap: nowrap;
    @include fontStyle3;
    color: white;
}

.has-reacted {
    @include fontStyle12;
    color: white;
}

.material-symbols-rounded {
    padding: 0 4px;
}

.message-menu {
    position: absolute;
    @include dFlex($jc: normal, $ai: normal);
    opacity: 0;
    margin-top: -27px;
    padding: 2px 15px 2px 20px;
    gap: 5px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid $light-purple;
    background-color: white;
    transition: all 100ms ease-out;
}

.chat-message-menu {
    right: 43px;
}

.chat-message-menu-alternative {
    right: unset;
    left: 83px;
}

.more-menu {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 90%;
    padding: 10px 20px 10px 20px;
    border-radius: 0px 30px 30px 30px;
    border: 1px solid $light-purple;
    background-color: white;
}

.edit-message {
    @include fontStyle8;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
        @include fontStyle19;
        background-color: $bg-color;
        color: $purple-3;
    }
}

.icon-btn {
    position: relative;
}

app-emoji-picker {
    left: 0px;
    bottom: 44px;
}

@media (max-width: 1200px) {
    .message {
        padding-right: 50px;
    }
    .message-alternative {
        padding-left: 50px;
    }
}