<div class="inside">
    <div class="add-people-header">
        <span class="add-people-heading">Leute hinzufügen</span>
        <button class="icon-btn" (click)="closeDialog()">
            <span class="material-symbols-rounded">close</span>
        </button>
    </div>
    <div class="add-people-channel-name">
        <span class="material-symbols-rounded tag">tag</span>
        <span>{{ currentChannel().name }}</span>
    </div>
    <app-filter-name class="filter-name" [isInChat]="true"></app-filter-name>
    <button class="btn btn-prim" (click)="addPersonToCurrentChannel()" [disabled]="chatService.chosenUserUIDs().length === 0">Hinzufügen</button>
</div>
<div class="overlayComponent fixed" (click)="closeDialog()"></div>