<div class="content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    <div class="content-window">
        <span (click)="goBack()" class="material-symbols-rounded arrow-back">arrow_back</span>
        <h1 class="m-btm-32">Wähle deinen Avatar</h1>

        <img class="profile" src="{{currentProfileImg}}" alt="profil">
        <h3>Max Mustermann</h3>
        <p class="m-btm-16 width-100">Aus der Liste wählen</p>

        <div class="avatar-container">
            @for (profileImg of profileImages; track profileImg; let i = $index) {
                <img (click)="changeProfileImg(i)" [ngClass]="{'avatar-selected': profileImg == currentProfileImg}" class="avatar-img" src="{{profileImg}}" alt="avatar{{i}}">
            }
        </div>

        <div class="upload-img-container">
            <p>eigenes Bild verwenden</p>
            <button class="btn btn-sec">Datei hochladen</button>
        </div>

        <div class="btn-container">
            <button (click)="goToLogin()" class="btn btn-prim">Weiter</button>
        </div>
    </div>

    <app-footer></app-footer>
</div>

<div [ngClass]="{'translateX-0': inputFinished}" class="overlay">
    <div class="overlay-content">Konto erfolgreich erstellt!</div>
</div>