<div class="content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    <div class="imprint-text-container">
        <span (click)="goBack()" class="material-symbols-rounded m-btm-32">arrow_back</span>
        <h1 class="m-btm-16">Impressum</h1>
        <p>Tobias Reize</p>
        <p>Frühlingstr. 4/1</p>
        <p class="m-btm-32">97999 Igersheim</p>
        <h2 class="m-btm-16">Kontakt:</h2>
        <p class="m-btm-32">E-Mail: 
            <a href="mailto:kontakt@tobias-reize.de">kontakt&#64;tobias-reize.de</a>
        </p>
        <p class="source">Quelle: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
    </div>
</div>