@import '../../../styles/mixin.scss';

.textarea-container {
    padding: 0 35px;
    background-color: white;
}

textarea {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid $light-purple;
    resize: none;
    transition: all 80ms ease-in;
    &:hover {
        border-color: $purple-2;
    }
    &:focus {
        border-color: $purple-1;
        outline: unset;
    }
}