@import '../../../../styles/mixin.scss';

.message-img-container, .file-name {
    padding: 12px;
    border: 1px solid $bg-color;
    border-radius: 10px;
    gap: 12px;
    width: fit-content;
}

.message-img-container {
    @include dFlex($jc: normal, $ai: normal);
    margin-bottom: 8px;
}

.message-img {
    max-width: min(156px, calc(100% - 52px));
}

.file-name {
    padding: 4px 4px 4px 12px;
    border: 1px solid $purple-2;
    background-color: $light-purple-scrollbar;
    @include dFlex($jc: normal);
    margin-bottom: 4px;
    .icon-btn:hover {
        background-color: $light-purple;
    }
}