@import '../../../../../styles/mixin.scss';

:host {
    position: absolute;
    @include dFlex();
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
}

.edit-channel {
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    background-color: white;
    width: 872px;
    height: 616px;
    gap: 20px;
    padding: 40px;
    border-radius: 0px 30px 30px 30px;
}

.edit-channel-header {
    @include dFlex($jc: normal, $ai: center);
    gap: 6.5px;
}

.edit-channel-name {
    @include dFlex($jc: normal, $ai: center);
    gap: 4.5px;
    position: relative;
}

.edit-channel-name-container {
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid $light-purple;
}

.edit-channel-name-header, .edit-channel-description-header {
    @include dFlex($jc: space-between);
}

.edit-channel-lower-container {
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    padding: 20px;
    gap: 30px;
    border-radius: 20px;
    border: 1px solid $light-purple;
}

.edit-channel-description-container {
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    gap: 20px;
}

.edit-channel-created-by {
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    gap: 20px;
}

.edit-channel-created-by-name {
    @include fontStyle17;
    color: $purple-3;
}

.edit-btn {
    background-color: transparent;
    border: unset;
    padding: 0;
    @include fontStyle16;
    color: $purple-3;
    cursor: pointer;
}

input {
    width: 100%;
}

input:disabled {
    border: unset;
    background-color: transparent;
}

.channel-name-input {
    border: unset;
    padding-left: 34px;
}

.channel-tag {
    position: absolute;
}

.editable-channel-tag {
    left: 20px;
}

.editable-section {
    padding-top: 0;
    padding-left: 0;
    border: unset;
}

.editable-field {
    padding: 20px;
    border-radius: 30px;
    border: 1px solid $light-purple;
}

.editable-channel-name-input {
    padding: 20px 20px 20px 58px;
    border-radius: 30px;
    border: 1px solid $light-purple;
}

.editable-hr {
    margin: 0 26.5px;
}