@import '../../../../../styles/mixin.scss';

:host {
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    position: absolute;
    right: 128px;
    top: 72px;
    padding: 40px;
    gap: 20px;
    border-radius: 30px 0px 30px 30px;
    background-color: white;
    box-shadow: 0px 6px 10px 0px #00000033;
    z-index: 9999;
}

.members-header {
    @include dFlex($jc: space-between, $ai: center);
}

.members-heading {
    @include fontStyle9;
}

.add-members-button {
    @include dFlex($jc: space-between);
    gap: 15px;
    padding: 12px 29px;
    border-radius: 100px;
    border: unset;
    background-color: white;
    cursor: pointer;
    &:hover {
        background-color: $bg-color;
        span {
            color: $purple-3;
        }
        .material-symbols-rounded {
            color: $purple-3;
        }
    }
}