<div class="members-header">
    <span class="members-heading">Mitglieder</span>
    <button class="icon-btn" (click)="closeDialog()">
        <span class="material-symbols-rounded">close</span>
    </button>
</div>
@for (member of members(); track $index) {
    <div class="person" (click)="openViewProfile(member.userUID)">
        <img class="avatar avatar-50" src="{{member.avatar}}" alt="{{member.name}}">
        <span class="user-name">{{ member.name }}</span>
    </div>
}
<div class="add-members-container">
    <button class="add-members-button" (click)="openAddPeople()">
        <span class="material-symbols-rounded">person_add</span>
        <span>Mitglieder hinzufügen</span>
    </button>
</div>