@import '../../../styles/mixin.scss';

:host {
    background-color: white;
    min-width: $thread-width;
    height: 100%;
    border-radius: 30px;
}

@media (max-width: 1440px) {
    :host {
        min-width: $thread-width-small;
    }
}

@media (max-width: 1200px) {
    :host {
        display: none;
    }
}