@import '../../../styles/mixin.scss';

:host {
    background-color: white;
    min-width: $thread-width;
    width: $thread-width;
    height: calc(100vh - 115px);
    border-radius: 30px;
    @include dFlex($fd: column, $jc: normal, $ai: normal);
    overflow: hidden;
    position: relative;
}

.thread-header {
    position: relative;
    @include dFlex($jc: space-between);
    padding: 35.5px 40px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.thread-header-left {
    @include dFlex($jc: flex-start);
    gap: 5px;
}

.thread-heading {
    @include fontStyle6;
}

.messages-container {
    overflow-y: auto;
}

.channel {
    @include fontStyle0;
    color: $purple-2;
}

app-message-textarea {
    width: 100%;
}

@media (max-width: 1440px) {
    :host {
        min-width: $thread-width-small;
        width: $thread-width-small;
    }
}

@media (max-width: 1200px) {
    :host {
        display: none;
    }
}