<div class="thread-header">
    <div class="thread-header-left">
        <span class="thread-heading">Thread</span>
        <span class="material-symbols-rounded channel">tag</span>
        <div class="channel-name channel">{{ channelName }}</div>
    </div>
    <button class="icon-btn" (click)="closeThread()">
        <span class="material-symbols-rounded">close</span>
    </button>
</div>
<div class="messages-container">
    @for (message of messages; track message) {
        <app-message [messageData]="message" [isThreadMessage]="true"></app-message>
        @if ($index === 0) {
            <div class="thread-hr-container">
                <span class="replies">{{ message.replies.length }}&nbsp;Antworten</span>
                <hr>
            </div>
        }
    }
</div>
<app-message-textarea placeholder="Antworten..."></app-message-textarea>