@import '../../../styles/mixin.scss';

:host {
    @include dFlex($jc: space-between);
    width: 100%;
    padding-top: 25px;
    padding-right: 34px;
    padding-bottom: 20px;
}

.header-left-side {
    width: 100%;
    @include dFlex($jc: flex-start);
    gap: 20px;
}

.logo-container {
    width: $side-nav-width;
    min-width: $side-nav-width;
    @include dFlex($jc: flex-start);
    gap: 16px;

    img {
        height: 70px;
        width: 70px;
    }

    span {
        font-size: 24px;
        font-weight: 700;
    }
}

.input-container {
    width: 100%;
    max-width: 989px;
    position: relative;
    @include dFlex();
}

.search-icon {
    color: gray;
    position: absolute;
    right: 45px;
}

.search-input {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: unset;
}

.header-profile-section {
    min-width: $thread-width;
    @include dFlex($jc: flex-end);
}

.header-profile-container {
    @include dFlex();
    gap: 20px;

    &:hover {
        cursor: pointer;
        h3 {
            color: $purple-2;
        }
        span {
            color: $purple-2;
            font-variation-settings: "GRAD" 200;
        }
    }
}

.profil-info-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(153, 153, 153, 0.6);
    z-index: 5;
    @include dFlex($jc: flex-end, $ai: flex-start);
    padding: 115px 20px 0 0;
}

.profil-info {
    @include dFlex($fd: column);
    width: 280px;
    gap: 15px;
    padding: 30px;
    border-radius: 30px 0 30px 30px;
    background-color: white;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.2));
    span {
        @include fontStyle14;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border-radius: 100px;

        &:hover {
            cursor: pointer;
            background-color: $bg-color;
            color: $purple-3;
            font-weight: 700;
        }
    }
}

app-search-component {
    padding: 0;
}

@media (max-width: 1440px) {
    .header-profile-section {
        min-width: $thread-width-small;
    }
    .header-profile-section h3 {
        @include fontStyle9;
    }
}

@media (max-width: 1200px) {
    .input-container {
        display: none;
    }
    .header-profile-section h2 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header-profile-section {
        min-width: unset;
        padding-left: 16px;
    }
}

@media (max-width: 768px) {
    :host {
        padding: 0 16px;
        height: 80px;
    }
    .logo-container {
        gap: 11px;
        img {
            height: 45px;
            width: 45px;
        }
        span {
            font-size: 17px;
        }
    }
    app-search-component {
        display: none;
    }
    .logo-container {
        width: 100%;
        min-width: unset;
    }
    .header-profile-section {
        min-width: unset;
        justify-content: normal;
    }
}