<div class="header-left-side">
    @if (layoutService.isMobile() && !layoutService.layoutState().isSideNavOpen) {
        <div class="workspace-container" (click)="layoutService.selectSideNav(true)">
            <span class="material-symbols-rounded left-arrow">keyboard_arrow_down</span>
            <div class="workspace-logo-container">
                <img class="workspace-logo" src="assets/img/main/workspace-logo.svg" alt="workspace logo">
                <span>Devspace</span>
            </div>
        </div>
    } @else {
        <div class="logo-container">
            <img class="app-logo" src="assets/img/logo.svg" alt="app logo">
            <span>DABubble</span>
        </div>
        <app-search-component></app-search-component>
    }
</div>
<div class="header-profile-section">
    <div (click)="toggleProfilInfo()" class="header-profile-container">
        <h3>{{userService.currentOnlineUser().name}}</h3>
        <div class="profil-status-container">
            <img class="avatar avatar-70" src="{{userService.currentOnlineUser().avatar}}" alt="Dein Avatar">
            <div class="header-status" [ngClass]="userService.currentOnlineUser().isOnline ? 'status-online' : 'status-offline'"></div>
        </div>
        <span class="material-symbols-rounded">keyboard_arrow_down</span>
    </div>
    @if (profilInfo) {
        <div (click)="toggleProfilInfo()" class="profil-info-overlay">
            <div (click)="stopPropagation($event)" class="profil-info">
                <div class="dFlexRowCenterCenter width-100 mobile"><div class="rectangle"></div></div>
                <div (click)="showProfile()" class="dFlexRowCenterCenter width-100 profil-button">
                    <span class="material-symbols-rounded mobile">account_circle</span>
                    <span>Profil</span>
                </div>
                <div (click)="logout()" class="dFlexRowCenterCenter width-100 profil-button">
                    <span class="material-symbols-rounded mobile">logout</span>
                    <span>Log out</span>
                </div>
            </div>
        </div>
    }
</div>