.f400w-20px-gray {
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  color: rgba(104, 104, 104, 1);
}

.fontStyle2 {
  @include fontStyle9;
}

.fontStyle9 {
  @include fontStyle9;
}

.blueColor {
  color: rgba(83, 90, 241, 1);
}