// functions:
@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

// variables:
$purple-1: #444DF2;
$purple-2: #797EF3;
$purple-3: #535AF1;
$text-gray: #686868;
$bg-color: #ECEEFE;
$light-purple: #ADB0D9;
$error-rosa: #ED1E79;
$side-nav-width: 366px;
$thread-width: 485px;
$thread-width-small: 320px;

// typography:
@mixin fontStyle0 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;    
}

@mixin fontStyle1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 23.19px;
}

// default font style
@mixin fontStyle2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}

@mixin fontStyle3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
}

@mixin fontStyle4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
}

@mixin fontStyle5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

@mixin fontStyle6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

@mixin fontStlye7 {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.28px;
}

@mixin fontStyle8 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
}

@mixin fontStyle9 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
}

@mixin fontStyle10 {
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
}

@mixin fontStyle11 {
    font-size: 46px;
    font-weight: 700;
    line-height: 55.2px;
}