@import "../styles/mixin.scss";

.inputElement {
  width: 100%;
  height: 60px;
  padding: 18px 20px 18px 20px;
  gap: 20px;
  border-radius: 40px;
  border: 1px solid $light-purple;
  text-indent: 20px;
  outline: none;
}

.inputDiv {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.overlayComponent {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  @include dFlex($fd: row, $jc: center, $ai: center);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(153, 153, 153, 0.6);
  z-index: 999;
}

input {
  cursor: pointer;
  transition: border 100ms ease-in;
  &:hover {
    border: 1px solid $purple-2;
  }
  &:focus {
    border: 1px solid $purple-1;
  }
}

button {
  cursor: pointer;
}

.checkBox-chosen {
  background: rgba(68, 77, 242, 1);
  width: 12px !important;
  height: 12px !important;
  border-radius: 100%;
}

.position-relative {
  position: relative;
}

.height100 {
  height: 100%;
}
