<section>
  <div class="input-container">
    <input
      placeholder="Suchen..."
      type="text"
      class="search-input"
      (input)="updateSearchQuery($event)"
    />
    <span class="material-symbols-rounded search-icon">search</span>
  </div>

  <!-- drop down menu -->
  <div id="searchResultsDropdown" *ngIf="filteredResults.length > 0" class="dNone searchingResults" (click)="sideNavService.stopPropagation($event)">
    <div *ngFor="let result of filteredResults" class="dFlexRowFlex-StartCenter width-100" (click)="chatService.closeDropDownMenu()">
      @if(result.avatar) {
        <div class="dFlexRowCenterCenter gap15 contactsDiv" (click)="chatService.openChat(result.userUID)">
          <img src={{result.avatar}} alt="avatar" class="avatar-50 avatar">
          <span>{{ result.name }}</span>
        </div>
      } @else if(result.description) {
        <div class="dFlexRowCenterCenter gap15 contactsDiv" (click)="chatService.changeChannel(result.id)">
          <span id="tag" class="material-symbols-rounded cursor-pointer">tag</span>
          <span>{{ result.name }}</span>
        </div>
      }
      @else {
        <div *ngFor="let message of result.messages">
          <p>{{ message.content }}</p>
        </div>
      }
    </div>
  </div>
</section>
