<section>
  <div class="input-container">
    <input
      placeholder="Suchen..."
      type="text"
      class="search-input"
      (keyup)="updateSearchQuery($event)"
    />
    <span class="material-symbols-rounded search-icon">search</span>
  </div>

  <!-- drop down menu -->
  <div id="searchResultsDropdown" *ngIf="filteredResults.length > 0" class="dNone searchingResults" (click)="sideNavService.stopPropagation($event)">
    <div *ngFor="let result of filteredResults" class="contactsDiv">
      @if(result.avatar) {
        <img src={{result.avatar}} alt="avatar" class="avatar-50 avatar">
        <span>{{ result.name }}</span>
      } @else if(result.description) {
        <span id="tag" class="material-symbols-rounded cursor-pointer">tag</span>
        <span>{{ result.name }}</span>
      }
    </div>
  </div>
</section>
