@import '../../../styles/mixin.scss';

:host {
    @include dFlex();
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media(max-height: 560px) {
    :host {
        max-height: 100vh;
        max-height: 100svh;
    }
}

.content-wrapper {
    > .content-window {
        width: 698px;
    }

    .input-style, .error-text, .btn-container {
        width: 500px;
    }
}

p {
    @include fontStyle7;
}

.info-text {
    width: 350px;
    text-align: center;
    color: $text-gray;
}

.overlay-content {
    @include dFlex();
    gap: 28px;

    > span:last-child {
        @include fontStyle13;
        color: white;
    }
}

.overlay-icon {
    color: white;
    font-variation-settings: "FILL" 1;
    font-size: 40px;
}

// Responsive Design:
@media(max-width: 716px) {
    .content-wrapper {
        padding: 0 8px;
    }
    
    .content-wrapper {
        > .content-window {
            width: 100%;
            padding: 35px 20px;
        }
    }
}

@media(max-width: 654px) {
    .content-wrapper {
        > .content-window {
            padding: 24px 16px;
        }
    }
    
    p {
        font-size: 17px;
        line-height: unset;
        text-align: center;
    }

    h1 {
        width: 210px;
        text-align: center;
    }

    .content-wrapper {    
        .input-style, .error-text, .btn-container {
            width: 100%;
        }
    }

    .overlay-content {
        gap: 18px;
    
        > span:last-child {
            font-size: 22px;
            line-height: 30px;
        }
    }
    
    .overlay-icon {
        font-size: 24px;
    }
}

@media(max-width: 450px) {
    .content-wrapper {
        .info-text {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}