<div class="reset-content content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    <div class="reset-window">
        <div class="headline-container">
            <div class="flex1"><span (click)="goBack()" class="material-symbols-rounded arrow-back">arrow_back</span></div>
            <h1>Passwort zurücksetzen</h1>
            <div class="flex1"></div>
        </div>

        <p class="m-btm-40">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="reset-form">
            <div class="input-style">
                <input #email="ngModel" [(ngModel)]="resetEmail" type="email" name="email" id="email" placeholder="beispielname@email.com" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                <span class="material-symbols-rounded">mail</span>
            </div>
            <span class="error-text" [ngStyle]="{'visibility': (!email.valid && email.touched) ? 'visible' : 'hidden'}">*Diese E-Mail-Adresse ist leider ungültig.</span>
            
            <p class="info-text m-btm-40">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
           
            <div class="btn-container">
                <input [disabled]="!email.valid" class="btn btn-prim" type="submit" name="submit" id="submit" value="E-Mail senden">
            </div>
        </form>
    </div>

    <app-footer></app-footer>
</div>