<div class="content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="content-window">
        <span (click)="goBack()" class="material-symbols-rounded arrow-back">arrow_back</span>
        <h1 class="m-btm-32">Passwort zurücksetzen</h1>
        <p class="m-btm-40">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>

        <div class="input-style">
            <input #email="ngModel" [(ngModel)]="resetEmail" type="email" name="email" id="email" placeholder="beispielname@email.com" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            <span class="material-symbols-rounded">mail</span>
        </div>
        <span class="error-text" [ngStyle]="{'visibility': (!email.valid && email.touched) ? 'visible' : 'hidden'}">*Diese E-Mail-Adresse ist leider ungültig.</span>
        
        <p class="info-text m-btm-40">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
        
        <div class="btn-container">
            <input (click)="goToLogin()" [disabled]="!email.valid" class="btn btn-prim" type="submit" name="submit" id="submit" value="E-Mail senden">
        </div>
    </form>

    <app-footer></app-footer>
</div>

<div [ngClass]="{'translateX-0': inputFinished}" class="overlay">
    <div class="overlay-content">
        <span class="material-symbols-rounded overlay-icon">send</span>
        <span>E-Mail gesendet</span>
    </div>
</div>