<div>
  <app-header></app-header>
  <div class="main">
    <app-side-nav *ngIf="sideNav"></app-side-nav>
    <app-new-message *ngIf="chatService.newMessage"></app-new-message>
    <app-direct-message *ngIf="chatService.directMessage"></app-direct-message>
    <app-chat *ngIf="chatService.chat"></app-chat>
    <app-profile-view-users *ngIf="chatService.profileViewUsersActive"></app-profile-view-users>
    <app-profile-view-logged-user *ngIf="chatService.profileViewLoggedUser"></app-profile-view-logged-user>
    <app-thread [ngClass]="isThreadVisible() ? '' : 'd-none'"></app-thread>
  </div>
  <div class="closeMenu purpleHover" (click)="closeSection()" >
    <span *ngIf="sectionIsVisible">Workspace-Menü schließen</span>
    <span *ngIf="!sectionIsVisible">Workspace-Menü öffnen</span>
    <img
      id="menuButton"
      class="rotate-180deg changeMenuImg"
      src="../../../../assets/img/main/blackMenu.png"
      [class.changeMenuImgBlue]="!sectionIsVisible"
    />
  </div>
  <app-create-channel *ngIf="sideNavService.createChannelsDivOpened"></app-create-channel>
  @if (isEditChannelVisible()) {
    <app-edit-channel></app-edit-channel>
  }
</div>
