@import "../../../../styles/mixin.scss";

$max-search-bar-width: 560px;

.dFlex {
  @include dFlex(row, space-between, center);
  width: 100%;
}

.dFlex1 {
  @include dFlex(row, space-between, center);
  // width: 176px;
  height: 40px;
  padding: 5px 10px 5px 0px;
  gap: 15px;
  border-radius: 15px 0px 0px 0px;

  div {
    // width: 121px;
    height: 27px;
    gap: 10px;
    @include dFlex(row, space-between, center);
  }
}

.dFlex2 {
  @include dFlex(row, center, center);
}

:host {
  background-color: white;
  max-width: 366px;
  overflow: hidden;
  height: calc(100vh - $header-and-bottom-spacing);
  border-radius: 30px;

  @media (max-width: 768px) {
    height: calc(100vh - 80px);
    border-radius: unset;
  }

  @media screen and (max-width: $mainBreakpoint1) {
    max-width: unset;
    width: 100%;
  }
}

.side-nav-container {
  padding: 32px 30px 32px 30px;
  gap: 25px;
  @include fontStyle2;
  @include dFlex($fd: column, $jc: unset, $ai: center);
}

.font-size1 {
  @include fontStyle9;
  @media (max-width: 1440px) {
    @include fontStyle19;
  }
}

.font-size2 {
  @include fontStyle6;
}

.font-size4 {
  @include fontStyle2;
}

.devSpace {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  gap: 15px;
}

.channels {
  width: 100%;
  padding: 3px 0px 3px 0px;
}

.entwicklerTeam {
  margin-left: 15px;
  min-width: 180px;
  height: 33px;
  gap: 10px;
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 90%;
    min-width: unset;
  }

  &:hover {
    #tag {
      color: #535af1;
    }
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    background: rgba(236, 238, 254, 1);
  }
}

.contactsDiv {
  width: 261px;
  height: 58px;
  padding: 4px 20px 4px 20px;
  gap: 15px;
  border-radius: 35px 0px 0px 0px;
  display: flex;
  align-items: center;
  border-radius: 30px;

  &:hover {
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
  }
}

.profil-img-container {
  position: relative;
  @include dFlex();
}

.gap25 {
  max-width: $max-search-bar-width;
  @include flex-gap(25px);
  @media (max-width: 768px) {
    align-items: flex-start;
  }
}

.gap13 {
  @include flex-gap(13px);
}

.divWidth {
  width: 100%;
}

.channel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 35px;
}

.directMessages {
  padding-top: 3px;
  padding-bottom: 3px;
  gap: 15px;
  justify-content: flex-start;

  div {
    gap: 10px;
    display: flex;
    align-items: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.purpleHover:hover svg path {
  fill: $purple-3;
  transition: 0.2s ease;
}

.purpleHover:hover span {
  color: $purple-3;
  transition: 0.2s ease;
}

.purpleHover:hover span.material-symbols-rounded {
  color: $purple-3;
  scale: 1.1;
  transition: 0.2s ease;
}

.purpleHover:hover {
  .changeArrowRightBlue {
    @include changeImgElement(
      "../../../../assets/img/main/arrow_right_blue.png"
    );
  }
}

#searchMobileLayout {
  width: 100%;
  height: 48px;
  padding: 8px 24px 8px 24px;
  border-radius: 42px;
  border: 1px solid rgba(173, 176, 217, 1);
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  section {
    width: 100vw;
    max-width: unset;
    border-radius: 0;
  }

  #devSpace {
    display: none;
  }
}

#searchMobileDiv {
  @include dFlex($fd: row, $jc: space-between, $ai: center);
  position: relative;
  width: 100%;
  max-width: $max-search-bar-width;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

#searchImg {
  position: absolute;
  right: 15px;
}

.channelWasChoosed {
  text-align: left;
  background: rgba(236, 238, 254, 1);
  color: #535af1;
  font-size: 18px;
  span {
    color: #535af1;
    font-weight: 700;
    line-height: 24.55px;
  }
}
