<div class="overlayComponent fadeInFromOpacity0" (click)="onDiv1Click()">
  <section class="card dFlexColumn" (click)="onDiv2Click($event)">
    <!-- Profile -->
    <div class="dFlexRowSpaceBetweenCenter width-100">
      <span class="profil">Profil</span>
      <span class="material-symbols-rounded closeIcon" (click)="onDiv1Click()">close</span>
    </div>

    <!-- avatar -->
    <div class="dFlexRowCenterCenter">
      <img class="avatar avatar-200" src="assets/img/avatar{{chatService.contactIndex}}.svg" />
    </div>

    <!-- Bearbeiten -->
    <div class="dFlexColumnCenterFlexStart gap15 width-100">
      <div class="dFlexRowSpaceBetweenCenter width-100">
        <span class="nameCard">{{chatService.currentUser}}</span>
      </div>
      <div class="gap15 dFlexRowCenterCenter">
        <img src="assets/img/main/{{chatService.currentUserStatus}}.png" />
        <span class="f400w-20px-gray">{{chatService.currentUserStatus}}</span>
      </div>
    </div>

    <!-- Email Adresse -->
    <div class="width-100 gap15 dFlexColumn">
      <div class="dFlexRowFlex-StartCenter gap20 width-100">
        <img src="assets/img/main/mail.png" />
        <span class="email">E-Mail-Adresse</span>
      </div>
      <div class="width-100">
        <span class="emailLink">{{chatService.currentUsersEmail}}</span>
      </div>
    </div>

    <!-- Nachricht Button -->
    <div class="messageButton" (click)="onDiv1Click()">
      <div class="dFlexRowFlex-EndCenter">
        <img src="assets/img/main/message-img.png" />
        <span>Nachricht</span>
      </div>
    </div>
  </section>
</div>
