<div class="overlayComponent" (click)="onDiv1Click()">
    <section class="card" (click)="onDiv2Click($event)">

        <!-- Profile -->
      <div>
        <span class="profil">Profil</span>
        <img src="assets/img/main/close (2).png">
      </div>

      <!-- avatar -->
      <div>
        <img src="">
      </div>

      <!-- Bearbeiten -->
      <div>
        <div>
            <span></span>
            <img src="" alt="">
            <span>Bearbeiten</span>
        </div>
        <div>
            <img src="" alt="">
            <!-- <span>{{chatService.userActive}}</span> -->
        </div>
      </div>

      <!-- Email Adresse -->
      <div>
        <div>
            <img src="" alt="">
            <span>E-Mail-Adresse</span>
        </div>
        <div>
            <!-- <span>{{chatService.email}}</span> -->
        </div>
      </div>

      <!-- Nachricht Button -->
      <div>
        <img src="" alt="">
        <button>Nachricht</button>
      </div>
    </section>
</div>
  