@import "../../../../styles/styles2.scss";
@import "../../../../styles/mixin.scss";

.card {
  width: 500px;
  height: 705px;
  padding: 40px;
  gap: 45px;
  border-radius: 30px;
  background-color: white;
}


