<div class="imprint-content content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    <div class="imprint-text-container">
        <span (click)="home()" class="material-symbols-rounded m-btm-32">arrow_back</span>
        <h1>Impressum</h1>
        <p>Christian Frei, Kristian Cebic, Tobias Reize</p>
        <p>Straße 1</p>
        <p class="m-btm-32">12345 Musterstadt</p>
        <h2>Kontakt:</h2>
        <p class="m-btm-32">E-Mail: 
            <a href="mailto:test@test.de">kontakt&#64;test.de</a>
        </p>
        <p class="source">Quelle: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
    </div>
</div>