<section class="sectionDflex">
  <div class="dFlexRowSpaceBetweenCenter">
    <span class="fontStyle9">Channel erstellen</span>
    <img src="../../../../../assets/img/main/close (2).png" />
  </div>
  <span
    >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span
  >
  <div class="dFlexColumnCenterFlexStart">
    <span>Channel-Name</span>
    <input type="text" id="input1" />
  </div>
  <div>
    <span>Beschreibung</span> 
    <span>(optional)</span>
    <input type="text" id="input2" />
  </div>
  <div class="dFlexRowFlexEndCenter">
    <button>Erstellen</button>
  </div>
</section>
