<div class="overlayComponent" (click)="onDiv1Click()">
  <section
    id="createChannel"
    class="sectionDflex"
    (click)="stopPropagation($event)"
  >
    <div class="dFlexRowSpaceBetweenCenter">
      <span class="fontStyle9">Channel erstellen</span>
      <img
        class="icon-btn"
        src="assets/img/main/close (2).png"
        (click)="onDiv1Click()"
      />
    </div>
    <span
      >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.</span
    >
    <div class="dFlexColumnCenterFlexStart">
      <span class="fontStyle3">Channel-Name</span>
      <div class="inputDiv">
        <span class="icon">#</span>
        <input
          class="inputElement"
          type="text"
          id="input1"
          placeholder="z.B. Kooperationsprojekte"
          [(ngModel)]="channelName"
          (keyup)="checkInputs()"
        />
      </div>
    </div>
    <div class="dFlexColumnCenterFlexStart">
      <div class="fontStyle3">
        Beschreibung
        <span style="color: rgba(104, 104, 104, 1)">(optional)</span>
      </div>

      <input
        class="inputElement"
        type="text"
        id="input2"
        placeholder="Dein Text hier"
        [(ngModel)]="description"
      />
    </div>
    <div class="dFlexRowFlexEndCenter">
      <button
        class="btn btn-prim"
        (click)="addPeople()"
        [disabled]="inputsAreEmpty"
      >
        Erstellen
      </button>
    </div>
  </section>

  <div
    id="addPeople"
    class="addPeople dFlexColumn"
    style="display: none; position: relative"
    (click)="stopPropagation($event)"
    (click)="closeWindowWithContacts()"
  >
    <div class="dFlexRowSpaceBetweenCenter">
      <span class="fontStyle9">Leute hinzufügen</span>
      <img
        class="icon-btn"
        src="assets/img/main/close (2).png"
        (click)="onDiv1Click()"
      />
    </div>
    <div class="dFlexColumn gap20">
      <div class="dFlexColumn gap20">
        <div class="dFlexRowFlex-StartCenter gap20">
          <!-- checkbox1 -->
          <div
            id="checkbox1"
            class="dFlexRowCenterCenter checkbox cursor-pointer"
            (click)="addMembersFromDevspace()"
          >
            <div
              *ngIf="selectMembersFromDevspace"
              class="checkBox-choosed"
            ></div>
          </div>
          <span class="fontStyle2"
            >Alle Mitglieder von
            <span class="blueColor">Devspace</span> hinzufügen</span
          >
        </div>
        <div id="checkbox2" class="dFlexRowFlex-StartCenter gap20">
          <!-- checkbox2 -->
          <div
            (click)="chooseSpecificMembers()"
            class="dFlexRowCenterCenter checkbox cursor-pointer"
          >
            <div *ngIf="selectSpecificMembers" class="checkBox-choosed"></div>
          </div>
          <span class="fontStyle2">Bestimmte Leute hinzufügen</span>
        </div>
      </div>

      <!-- input -->
      <div
        *ngIf="AddSpecificPeople"
        style="position: relative"
        class="input-wrapper"
        (click)="stopPropagation($event)"
      >
        <!-- Input Feld mit Klick-Event -->
        <input
          id="addName"
          class="inputElement"
          placeholder="Name eingeben"
          (click)="showAllUsers()"
          (keyup)="searchUsers()"
        />

        <!-- Anzeigen der ausgewählten Kontakte, falls welche vorhanden sind -->
        <div
          *ngIf="arrayOfChoosenContacts.length > 0"
          class="choosenAvatars fadeInFromOpacity0"
          (click)="showChoosedUsers()"
        >
          <ng-container
            *ngFor="let choosenContact of arrayOfChoosenContacts | slice:0:3; let i = index"
          >
            <img
              class="avatar avatar-50"
              [src]="choosenContact.avatar"
            />
          </ng-container>
          <!-- Anzahl der gewählten Kontakte -->
          <span class="contact-count">{{ numberOfChoosenContacts }}</span>
        </div>
      </div>

      <!-- show users in a window down of the input field -->
      <div class="dFlexRowFlexEndCenter" style="position: relative">
        @if (showedAllUsers == true) {
        <div id="results" class="people" (click)="stopPropagation($event)">
          @for (user of filteredUsers; track user.userUID) {
          <div class="person" (click)="selectUser($index, user.userUID)">
            <img
              class="avatar avatar-50"
              src="{{ user.avatar }}"
              alt="{{ user.name }}"
            />
            <span class="user-name">{{ user.name }}</span>
          </div>
          }
        </div>
        }
        <button
          (click)="createChannel()"
          class="btn btn-prim"
          [disabled]="
            notAddedSpecificPeopleToTheChannel &&
            arrayOfChoosenContacts.length === 0
          "
        >
          Erstellen
        </button>
      </div>
    </div>

    <!-- show a window, how many users were added -->
    <div *ngIf="hoverEffectForAddedUsers" class="members-header fadeInFromOpacity0" (click)="stopPropagation($event)">
      <span class="members-heading">Mitglieder</span>
      @for (user of arrayOfChoosenContacts; track $index) {
          <div class="dFlexCenter gap10 paddingLeft20">
              <img class="avatar avatar-50" src="{{user.avatar}}" alt="{{user.name}}">
              <span class="user-name">{{ user.name }}</span>
          </div>
      }
    </div>
</div>
