<div class="chat-header">
    <div class="chat-header-left" (click)="toggleEditChannelVisibility()">
        <span class="material-symbols-rounded">tag</span>
        <div class="channel-name">{{ channel().name }}</div>
        <span class="material-symbols-rounded">keyboard_arrow_down</span>
    </div>
    <div class="chat-header-right">
        @if (usersInCurrentChannel().length > 0) {
            <div class="chat-header-avatars" (click)="toggleMembersVisibility()">
                    @for (user of usersInCurrentChannel() | slice:0:3; track user) {
                        <img class="avatar avatar-40" src="assets/img/{{user.avatar}}" alt="user avatar">
                    }
            </div>
        }
        @if (userAvatars.length - 3 > 0) {
            <span class="chat-header-right-span">+{{ userAvatars.length - 3 }}</span>
        }
        <div class="icon-btn" (click)="openAddPeople()">
            <span class="material-symbols-rounded">person_add</span>
        </div>
        @if (isAddPeopleDialogVisible()) {
            <app-add-people></app-add-people>
        }
        @if (isMembersDialogVisible()) {
            <app-members></app-members>
        }
    </div>
</div>
<div class="messages-container">
    <div class="hr-container">
        <hr>
        <div class="date-info">{{ getDateInfo(messages()[0]) }}</div>
    </div>
    @for (message of messages(); track message.id) {
        <app-message [messageData]="message"></app-message>
        @if (messages()[$index + 1] && isAnotherDay(message, messages()[$index + 1])) {
            <div class="hr-container">
                <hr>
                <div class="date-info">{{ getDateInfo(messages()[$index + 1]) }}</div>
            </div>
        }
    }
</div>
<app-message-textarea placeholder="Nachricht an #{{ channel().name }}" type="chat"></app-message-textarea>