<div class="dFlexRowFlexEndCenter" style="position: relative">
  @if (showedAllUsers == true) {
  <div id="results" class="people" (click)="sideNavService.stopPropagation($event)">
    @for (user of filteredUsers; track user.userUID) {
    <div class="person" (click)="selectUser($index, user.userUID)">
      <img
        class="avatar avatar-50"
        src="{{ user.avatar }}"
        alt="{{ user.name }}"
      />
      <span class="user-name">{{ user.name }}</span>
    </div>
    }
  </div>
  }
  <button
    (click)="createChannel()"
    class="btn btn-prim"
    [disabled]="
      notAddedSpecificPeopleToTheChannel && arrayOfChoosenContacts.length === 0
    "
  >
    Erstellen
  </button>
</div>
