<div
  style="position: relative"
  class="input-wrapper"
  (click)="sideNavService.stopPropagation($event)"
  >

  <input
    #addName
    class="inputElement"
    placeholder="Name eingeben"
    [placeholder]="layoutService.winWidth() < 380 ? 'Name' : 'Name eingeben'"
    (click)="showAllUsers()"
    (keyup)="searchUsers(addName)"
  />
  <div
    (click)="addedUsers = true"
    *ngIf="arrayOfChosenContacts.length > 0"
    class="chosenAvatars fadeInFromOpacity0"
  >
    <ng-container
      *ngFor="
        let chosenContact of arrayOfChosenContacts | slice : 0 : 3;
        let i = index
      "
    >
      <img class="avatar avatar-50" [src]="chosenContact.avatar" />
    </ng-container>
    <span class="contact-count">{{ chatService.chosenUserUIDs().length }}</span>
  </div>

  <div class="dFlexRowFlexEndCenter" style="position: relative">
    @if (showedAllUsers == true && filteredUsers.length > 0) {
    <div id="results" class="people" [ngClass]="{'results-create-channel': !isInChat}" (click)="sideNavService.stopPropagation($event)">
      @for (user of filteredUsers; track $index) {
      <div class="person" (click)="selectUser(user.userUID)">
        <img
          class="avatar avatar-50"
          src="{{ user.avatar }}"
          alt="{{ user.name }}"
        />
        <span class="user-name">{{ user.name }}</span>
      </div>
      }
    </div>
    }
  </div>

  <div
    *ngIf="addedUsers"
    class="members fadeInFromOpacity0"
    [ngClass]="{'members-chat': isInChat}"
    (click)="sideNavService.stopPropagation($event)"
    >
    <span class="members-heading">Mitglieder</span>
    @for (user of arrayOfChosenContacts; track $index) {
      <div class="dFlexRowCenterCenter gap10">
        <img
          src="assets/img/main/close (2).png"
          class="cursor-pointer close"
          (click)="deleteUserFromArrayOfChosenContacts(user.userUID)"
        />
        <div class="dFlex gap10 member">
          <img
            class="avatar avatar-50"
            src="{{ user.avatar }}"
            alt="{{ user.name }}"
          />
          <span class="user-name">{{ user.name }}</span>
        </div>
      </div>
    }
  </div>
</div>

