<div class="thread-header">
    <div class="thread-header-left">
        <span class="thread-heading">Thread</span>
        <span class="material-symbols-rounded channel">tag</span>
        <div class="channel-name channel">{{ channelName }}</div>
    </div>
    <button class="icon-btn" (click)="closeThread()">
        <span class="material-symbols-rounded">close</span>
    </button>
</div>
<div class="messages-container">
    <app-message [messageData]="message()" [isThreadMessage]="true" [isTopMessage]="true"></app-message>
    <div class="thread-hr-container">
        <span class="replies">{{ replies().length }}&nbsp;Antworten</span>
        <hr>
    </div>
    @for (reply of replies(); track reply.id) {
        <app-message [messageData]="reply" [isThreadMessage]="true"></app-message>
    }
</div>
<app-message-textarea placeholder="Antworten..." type="thread"></app-message-textarea>