@if (!introFinished) {
    <app-intro (hideIntroScreen)="setIntroVariable($event)" [ngClass]="{'opacity': hideIntroScreen}"></app-intro>
}

<div class="login-content content-wrapper">
    <header>
        <div class="logo-container">
            <img src="assets/img/logo.svg" alt="logo">
            <span>DABubble</span>
        </div>
        <div class="create-account-container">
            <span>Neu bei DABubble?</span>
            <span class="link-style">Konto erstellen</span>
        </div>
    </header>
    <form class="login-window">
        <h1>Anmeldung</h1>
        <p class="login-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        <div class="input-style">
            <input type="email" name="email" id="email" placeholder="beispielname@email.com">
            <span class="material-symbols-rounded">mail</span>
        </div>
        <span class="error-text">*Diese E-Mail-Adresse ist leider ungültig.</span>
        <div class="input-style">
            <input type="password" name="password" id="password" placeholder="Passwort">
            <span class="material-symbols-rounded">lock</span>
        </div>
        <span class="error-text">Falsches Passwort oder E-Mail... Bitte noch einmal versuchen.</span>
    </form>
    <div class="imprint-privacy-policy-container">
        <span class="link-style">Impressum</span>
        <span class="link-style">Datenschutz</span>
    </div>
</div>