<section>
  <div class="div-header">
    <div
      (click)="
        chatService.openViewProfile(
          userService.allUsers()[chatService.contactIndex].userUID
        )
      "
    >
      <img
        class="avatar"
        [src]="userService.allUsers()[chatService.contactIndex].avatar"
      />

      <span
        >@if(userService.allUsers()[chatService.contactIndex].name ==
        userService.currentOnlineUser().name) {
        {{ userService.allUsers()[chatService.contactIndex].name + " (Du)" }}
        } @else{
        {{ userService.allUsers()[chatService.contactIndex].name }}
        }
      </span>
    </div>
  </div>

  <div
    class="dFlex-height100-aIFE-padding60px"
  >
    <div class="div-parent-notice">
      <div
        class="div-notice cursor-pointer"
        (click)="
          chatService.openViewProfile(
            userService.allUsers()[chatService.contactIndex].userUID
          )
        "
      >
        <img
          class="avatar avatar-notice"
          [src]="userService.allUsers()[chatService.contactIndex].avatar"
        />
        <span class="hover-message-name-chat"
          >@if(userService.allUsers()[chatService.contactIndex].name ==
          userService.currentOnlineUser().name) {
          {{ userService.allUsers()[chatService.contactIndex].name + " (Du)" }}
          } @else{
          {{ userService.allUsers()[chatService.contactIndex].name }}
          }</span
        >
      </div>
      <span *ngIf="chatService.chatDescription" class="private-message-notice">
        Diese Unterhaltung findet nur zwischen
        <span
          class="link-to-profile cursor-pointer name-contact-link"
          (click)="
            chatService.openViewProfile(
              userService.allUsers()[chatService.contactIndex].userUID
            )
          "
        >
          {{
            "@" + userService.allUsers()[chatService.contactIndex].name
          }}</span
        >
        und dir statt.</span
      >
      <span
        *ngIf="chatService.myChatDescription"
        class="private-message-notice lightGrayText"
        ><span class="grayText">Dieser Raum ist nur für dich da.</span> Mache
        dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien
        griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
        besprechen.</span
      >
    </div>
  </div>

  <!-- chat -->
  <!-- <div class="messages-container">
    <div class="hr-container">
      <hr />
      <div class="date-info">{{ getDateInfo(messages()[0]) }}</div>
    </div>
    @for (message of messages(); track message.id) {
    <div class="space-between-messages"></div>
    <app-message [messageData]="message"></app-message>
    @if (messages()[$index + 1] && isAnotherDay(message, messages()[$index +
    1])) {
    <div class="space-between-messages"></div>
    <div class="hr-container">
      <hr />
      <div class="date-info">{{ getDateInfo(messages()[$index + 1]) }}</div>
    </div>
    } }
    <div class="space-between-messages"></div>
  </div> -->
  <app-message-textarea type="directMessage"></app-message-textarea>
</section>
