<section>
    <div class="div-header">
        <div (click)="openViewProfile(chatService.currentUser)">
            <img class="avatar" [src]="'assets/img/avatar' + chatService.contactIndex + '.svg'">
            <span>{{chatService.currentUser}}</span>
        </div>
    </div>
    <div class="dFlex-height100-aIFE-padding60px">
        <div class="div-parent-notice">
            <div class="div-notice cursor-pointer" (click)="openViewProfile(chatService.currentUser)">
                <img class="avatar avatar-notice" [src]="'assets/img/avatar' + chatService.contactIndex + '.svg'">
                <span class="hover-message-name-chat">{{chatService.currentUser}}</span>
            </div>
            <span *ngIf="chatService.chatDescription" class="private-message-notice">Diese Unterhaltung findet nur zwischen <span class="link-to-profile cursor-pointer name-contact-link" (click)="openViewProfile(chatService.currentUser)">{{"@" + chatService.currentUser}}</span> und dir statt.</span>
            <span *ngIf="chatService.myChatDescription" class="private-message-notice lightGrayText"><span class="grayText">Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</span>
        </div>
    </div>
    <app-message-textarea></app-message-textarea>
</section>



