<section>
  <!-- Header -->
  <div class="dFlex">
    <div class="devSpace">
      <img src="../../../assets/img/main/Workspace logo.svg" />
      <span class="font-size1">Devspace</span>
    </div>

    <button class="icon-btn">
      <span class="material-symbols-rounded">edit_square</span>
    </button>
  </div>

  <div class="dFlex channels">
    <div class="dFlex1">
      <button class="icon-btn">
        <span class="material-symbols-rounded">arrow_drop_down</span>
      </button>
      <div>
        <img src="../../../assets/img/main/workspaces.svg" />
        <span class="font-size2">Channels</span>
      </div>
    </div>

    <button class="icon-btn">
      <span class="material-symbols-rounded">add</span>
    </button>
  </div>

  <div>
    <div class="entwicklerTeam">
      <img src="../../../assets/img/main/tag.svg" />
      <span class="font-size3">Entwicklerteam</span>
    </div>
  </div>

  <div>
    <div class="dFlex2">
      <button class="icon-btn">
        <span class="material-symbols-rounded">add_circle</span>
      </button>
      <span>Channel hinzufügen</span>
    </div>
  </div>

  <div class="dFlex2">
    <button class="icon-btn">
      <span class="material-symbols-rounded">arrow_drop_down</span>
    </button>

    <button class="icon-btn">
      <span class="material-symbols-rounded">account_circle</span>
    </button>
    <span class="font-size2">Direktnachrichten</span>
  </div>

  <div>
    <div>
      <img src="">
      
    </div>
  </div>
</section>
