<div class="message" [ngClass]="{ 'message-alternative' : isMe, 'thread-message' : isThreadMessage, 'thread-message-alternative' : isMe && isThreadMessage }">
    <img class="avatar avatar-70" src="assets/img/{{ messageData.imageName }}" alt="{{messageData.imageName}}">
    <div class="main-message-container" [ngClass]="isMe ? 'main-message-container-alternative' : ''">
        <div class="message-header">
            <span class="user-name">{{ messageData.userName }}</span>
            <span class="message-posted-at">{{ postedAtAsTimeString }}</span>
        </div>
        <div class="message-content" [ngClass]="{ 'message-content-alternative': isMe }">{{ messageData.content }}</div>
        @if (messageData.numberOfReplies > 0) {
            <div class="bottom-message-container">
                <div (click)="openThread()" class="number-of-replies">{{ messageData.numberOfReplies }} Antworten</div>
                <div class="last-reply-at">Letzte Antwort {{ lastReplyAtAsTimeString }}</div>
            </div>
        }
        <div class="reactions-container">
            @if (messageData.reactions) {
                @for (reaction of messageData.reactions; track reaction) {
                    <button class="reaction">
                        <img src="assets/img/emojis/{{reaction.emoji}}" alt=""><span>{{ reaction.userNames.length }}</span>
                    </button>
                }
                <span class="material-symbols-rounded">add_reaction</span>
            }
        </div>
    </div>
</div>