@import '../../../styles/mixin.scss';

.message {
    @include dFlex($jc: flex-start, $ai: normal);
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;
    gap: 30px;
    background-color: white;
    transition: background-color 125ms;
    &:hover {
        background-color: $bg-color;
        .message-content {
            background-color: white;
        }
    }
}

.message-alternative {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 45px;
    padding-bottom: 10px;
    @include dFlex($fd: row-reverse, $jc: flex-start, $ai: normal);
    &:hover {
        .message-content {
            background-color: $purple-2;
        }
    }
}

.main-message-container {
    @include dFlex($fd: column, $jc: flex-start, $ai: normal);
    gap: 8px;
}

.main-message-container-alternative {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-end);
}

.message-content {
    @include dFlex;
    transition: background-color 125ms;
    background-color: $bg-color;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
}

.message-content-alternative {
    background-color: $purple-2;
    color: white;
    border-radius: 30px 0px 30px 30px;
}

.message-header {
    h3 {
        @include fontStyle3;
    }
}

.message-header, .bottom-message-container {
    @include dFlex($jc: flex-start);
    gap: 20px;
}

.message-posted-at, .last-reply-at {
    @include fontStyle0;
}

.number-of-replies {
    color: $purple-3;
}