@import "./styles/mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  @include fontStyle2;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  @include fontStyle11;
  color: $purple-1;
}

h2 {
  @include fontStyle10;
  line-height: 38.4px;
  color: $purple-1;
}

h3 {
  @include fontStyle10;
}

hr {
  border: none;
  background-color: $light-purple;
  height: 1px;
}

.btn {
  @include fontStyle3;
  border: unset;
  border-radius: 25px;
  padding: 12px 25px;
  color: white;
  cursor: pointer;
  transition: all 100ms ease-out;
}

.btn-prim {
  background-color: $purple-1;

  &:hover {
    background-color: $purple-2;
  }

  &:active {
    background-color: $purple-1;
  }

  &:disabled {
    background-color: $text-gray;
  }
}

.btn-sec {
  border: 1px solid $purple-2;
  background-color: white;
  color: $purple-1;

  &:hover {
    border: 1px solid $purple-3;
    background-color: $purple-3;
    color: white;
  }

  &:active {
    border: 1px solid $purple-1;
    background-color: $purple-1;
    color: white;
    transition: none;
  }

  &:disabled {
    border: 1px solid $text-gray;
    background-color: white;
    color: $text-gray;
  }
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "GRAD" 100;
}

.icon-btn {
  height: 40px;
  width: 40px;
  border: unset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 75ms;
  background-color: unset;
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
    .material-symbols-rounded {
      color: $purple-3;
      font-variation-settings: "GRAD" 200;
    }
  }
}

.icon-btn-small {
  height: 34px;
  width: 34px;
}

.message-img {
  max-height: 200px;
  max-width: 300px;
  object-fit: contain;
}

.avatar {
  border-radius: 50%;
}

.avatar-34 {
  height: 34px;
  width: 34px;
}

.avatar-40 {
  height: 40px;
  width: 40px;
  border: 2px solid white;
}

.avatar-50 {
  height: 50px;
  width: 50px;
}

.avatar-64 {
  height: 64px;
  width: 64px;
}

.avatar-70 {
  height: 70px;
  width: 70px;
}

.avatar-120 {
  height: 120px;
  width: 120px;
}

.avatar-168 {
  height: 168px;
  width: 168px;
}

.avatar-200 {
  height: 200px;
  width: 200px;
}

.person {
  @include dFlex($jc: normal);
  gap: 15px;
  border-radius: 35px;
  padding: 4px 20px;
}

.mention {
  color: $purple-3;
}

.d-none {
  display: none !important;
}

.content-wrapper {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  @include dFlex($fd: column, $jc: flex-start);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: $light-purple-scrollbar;
}

::-webkit-scrollbar-thumb {
  background: $purple-2;
  border-radius: 4px;
}

.m-btm-8 {
  margin-bottom: 8px;
}

.m-btm-16 {
  margin-bottom: 16px;
}

.m-btm-32 {
  margin-bottom: 32px;
}

.m-btm-40 {
  margin-bottom: 40px;
}

.width-100 {
  width: 100%;
}

.rotate-180deg {
  rotate: -180deg;
}

.sectionDflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dFlexRowFlex-StartCenter {
  @include dFlex($fd: row, $jc: flex-start, $ai: center);
}

.dFlexRowFlex-EndCenter {
  @include dFlex($fd: row, $jc: flex-end, $ai: center);
}

.dFlexRowSpaceBetweenCenter {
  @include dFlex($fd: row, $jc: space-between, $ai: center);
}

.dFlexColumn {
  @include dFlex($fd: column, $jc: center, $ai: center);
}

.dFlexColumnCenterFlexStart {
  @include dFlex($fd: column, $jc: center, $ai: flex-start);
}

.dFlexRowFlexEndCenter {
  @include dFlex($fd: row, $jc: flex-end, $ai: center);
}

.dFlexRowCenterCenter {
  @include dFlex($fd: row, $jc: center, $ai: center);
}

.sectionHidden {
  transform: translateX(-200%);
}

.sectionDisplayed {
  transform: translateX(0%);
}

.slideIn_Out {
  transition: 0.5s ease;
}

.dNone {
  display: none;
}

// Responsive Design:
@media (max-width: 1968px) {
  .content-wrapper {
    max-width: unset;
  }
}

@media (max-width: 654px) {
  .content-wrapper {
    padding: 0 8px;
  }

  h1 {
    font-size: 32px;
    line-height: 38.4px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 450px) {
  .btn {
    padding: 12px 16px;
  }
}