@import './styles/mixin.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    @include fontStyle2;
    color: black;
}

body {
    background-color: $bg-color;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    @include fontStyle3;
    border: unset;
    border-radius: 25px;
    padding: 12px 25px;
    color: white;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.btn-prim {
    background-color: $purple-1;

    &:hover {
        background-color: $purple-2;
    }

    &:active {
        background-color: $purple-1;
    }

    &:disabled {
        background-color: $disable-gray;
    }
}

.btn-sec {
    border: 1px solid $purple-2;
    background-color: white;
    color: $purple-1;

    &:hover {
        border: 1px solid $purple-3;
        background-color: $purple-3;
        color: white;
    }

    &:active {
        border: 1px solid $purple-1;
        background-color: $purple-1;
        color: white;
        transition: none;
    }

    &:disabled {
        border: 1px solid $disable-gray;
        background-color: white;
        color: $disable-gray;
    }
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
    'GRAD' 100,
}

.icon-btn {
    height: 40px;
    width: 40px;
    border: unset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 75ms;
    background-color: unset;
    &:hover {
        background-color: $bg-color;
        .material-symbols-rounded {
            color: $purple-3;
            font-variation-settings:
            'GRAD' 200,
        }
    }
}

.icon-btn-small {
    height: 34px;
    width: 34px;
}

.content-wrapper {
    max-width: 1920px;
    width: 100%;
}