<div class="textarea-container">
    <span #mentionInsertion contenteditable="false"></span>
    <div #editableTextarea class="textarea" name="editableTextarea" id="editableTextarea" contenteditable="true"></div>
    @if (fileUrl && isImage(fileType)) {
        <img src="{{fileUrl}}" alt="message image">
    }
    <div class="textarea-container-inside">
        <div class="textarea-symbols-left">
            <button class="icon-btn">
                <label [ariaDisabled]="uploadFile == 'inProgress'" for="file_upload" class="material-symbols-rounded">add</label>
                <input (change)="addFile(upload)" #upload [disabled]="uploadFile == 'inProgress'" style="display: none;" id="file_upload" type="file" accept="image/png, image/jpeg, image/svg+xml, image/webp">
            </button>
            <div class="small-divider"></div>
            <button class="icon-btn" (click)="toggleEmojiPickerVisibility()">
                <span class="material-symbols-rounded">sentiment_satisfied</span>
                @if (isEmojiPickerVisible()) {
                    <app-emoji-picker (selectEmojiEvent)="insertEmoji($event)"></app-emoji-picker>
                }
            </button>
            <button class="icon-btn" (click)="toggleAtVisibility()">
                <span class="material-symbols-rounded">alternate_email</span>
                @if (isAtVisible()) {
                    <app-at (selectUserEvent)="addMention($event)"></app-at>
                }
            </button>    
        </div>
        <span class="material-symbols-rounded send-icon" (click)="addMessage()">send</span>
    </div>
</div>
