<div class="textarea-container">
    <div #editableTextarea class="textarea" name="editableTextarea" id="editableTextarea">
        <ng-template #mentionInsertion contenteditable="false"></ng-template>
        <textarea name="text-area" id="text-area" ([ngModel])="messageText"></textarea>
    </div>
    <div class="textarea-container-inside">
        <div class="textarea-symbols-left">
            <button class="icon-btn">
                <span class="material-symbols-rounded">add</span>
            </button>
            <div class="small-divider"></div>
            <button class="icon-btn">
                <span class="material-symbols-rounded">sentiment_satisfied</span>
            </button>
            <button class="icon-btn" (click)="toggleAtVisibility()">
                <span class="material-symbols-rounded">alternate_email</span>
                @if (isAtVisible()) {
                    <app-at (selectUserEvent)="addMention($event)"></app-at>
                }
            </button>    
        </div>
        <span class="material-symbols-rounded send-icon" (click)="addMessage()">send</span>
    </div>
</div>
