<div class="textarea-container">
    <textarea [placeholder]="placeholder" [(ngModel)]="messageText" name="" id=""></textarea>
    <div class="textarea-container-inside">
        <div class="textarea-symbols-left">
            <button class="icon-btn">
                <span class="material-symbols-rounded">add</span>
            </button>
            <div class="small-divider"></div>
            <button class="icon-btn">
                <span class="material-symbols-rounded">sentiment_satisfied</span>
            </button>
            <button class="icon-btn">
                <span class="material-symbols-rounded">alternate_email</span>
            </button>    
        </div>
        <span class="material-symbols-rounded send-icon" (click)="addMessage()">send</span>
    </div>
</div>
