<div class="content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="content-window">
        <span (click)="goBack()" class="material-symbols-rounded arrow-back">arrow_back</span>
        <h1 class="m-btm-32">Passwort zurücksetzen</h1>

        <div class="input-style">
            <input #password="ngModel" [(ngModel)]="newPassword" minlength="5" type="password" name="password" id="password" placeholder="Neues Passwort" required>
            <span class="material-symbols-rounded">lock</span>
        </div>
        <span class="error-text" [ngStyle]="{'visibility': (!password.valid && password.touched) ? 'visible' : 'hidden'}">Bitte geben Sie ein gültiges Passwort ein.</span>

        <div class="input-style">
            <input #passwordRepeat="ngModel" [(ngModel)]="newPasswordRepeat" minlength="5" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Neues Passwort bestätigen" required>
            <span class="material-symbols-rounded">lock</span>
        </div>
        <span class="error-text" [ngStyle]="{'visibility': (!passwordRepeat.valid && passwordRepeat.touched) || ((password.value !== passwordRepeat.value) && passwordRepeat.touched) ? 'visible' : 'hidden'}">Ihre Kennwörter stimmen nicht überein!</span>
    
        <div class="btn-container">
            <input (click)="goToLogin()" [disabled]="!password.valid || !passwordRepeat.valid || (password.value !== passwordRepeat.value)"  class="btn btn-prim" type="submit" name="submit" id="submit" value="Passwort ändern">
        </div>
    </form>

    <app-footer></app-footer>
</div>

<div [ngClass]="{'translateX-0': inputFinished}" class="overlay">
    <div class="overlay-content">Anmelden</div>
</div>