<div class="content-wrapper">
    <app-login-header [loginSite]="false"></app-login-header>

    @if (mode == 'verifyAndChangeEmail') {
        <div class="content-window">
            <h1 class="m-btm-32">Neue E-Mail Adresse</h1>
            <!-- <span class="m-btm-16">Neue E-Mail Adresse: xyz&#64;test.de</span> -->
            <div class="btn-container">
                <button (click)="sendActionCode()" class="btn btn-prim">Bestätigen</button>
            </div>
        </div>
    } @else if (mode == 'recoverEmail') {
        <div class="content-window">
            <h1 class="m-btm-32">E-Mail Adresse zurücksetzen</h1>
            <!-- <span class="m-btm-16">Neue E-Mail Adresse: xyz&#64;test.de</span> -->
            <div class="btn-container">
                <button (click)="sendActionCode()" class="btn btn-prim">Bestätigen</button>
            </div>
        </div>
    } @else {
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="content-window">
            <h1 class="m-btm-32">Passwort zurücksetzen</h1>
    
            <div class="input-style">
                <input #password="ngModel" [(ngModel)]="newPassword" minlength="6" type="password" name="password" id="password" placeholder="Neues Passwort" required>
                <span class="material-symbols-rounded">lock</span>
            </div>
            <span class="error-text" [ngStyle]="{'visibility': (!password.valid && password.touched) ? 'visible' : 'hidden'}">Bitte geben Sie ein gültiges Passwort ein.</span>
    
            <div class="input-style">
                <input #passwordRepeat="ngModel" [(ngModel)]="newPasswordRepeat" minlength="6" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Neues Passwort bestätigen" required>
                <span class="material-symbols-rounded">lock</span>
            </div>
            <span class="error-text" [ngStyle]="{'visibility': (!passwordRepeat.valid && passwordRepeat.touched) || ((password.value !== passwordRepeat.value) && passwordRepeat.touched) || resetPasswordError ? 'visible' : 'hidden'}">{{errorMsg}}</span>
        
            <div class="btn-container">
                <input [disabled]="!password.valid || !passwordRepeat.valid || (password.value !== passwordRepeat.value)"  class="btn btn-prim" type="submit" name="submit" id="submit" value="Passwort ändern">
            </div>
        </form>
    }
    
    <app-footer></app-footer>
</div>

<div [ngClass]="{'translateX-0': inputFinished}" class="overlay">
    <div class="overlay-content">Anmelden</div>
</div>