@import '../../../styles/mixin.scss';

:host {
    @include dFlex();
    height: 100vh;
    width: 100%;
}

.content-wrapper {
    > .content-window {
        width: 698px;
    }

    .input-style, .error-text, .btn-container {
        width: 400px;
    }
}

// Responsive Design:
@media(max-width: 716px) {
    .content-wrapper {
        padding: 0 8px;
    }
    
    .content-wrapper {
        > .content-window {
            width: 100%;
            padding: 35px 20px;
        }
    }
}

@media(max-width: 654px) {
    h1 {
        width: 210px;
        text-align: center;
    }
}

@media(max-width: 450px) {
    .content-wrapper {
        > .content-window {
            padding: 24px 16px;
        }
    }

    .content-wrapper {    
        .input-style, .error-text, .btn-container {
            width: 100%;
        }
    }
}