@import '../../../styles/mixin.scss';

:host {
    @include dFlex();
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media(max-height: 560px) {
    :host {
        max-height: 100vh;
        max-height: 100svh;
    }
}

h1 {
    text-align: center;
}

.content-wrapper {
    .input-style, .error-text, .btn-container {
        width: 400px;
    }
}

.width-450 {
    width: 450px;
}

// Responsive Design:
@media(max-width: 450px) {
    .content-wrapper {    
        .input-style, .error-text, .btn-container {
            width: 100%;
        }
    }
}