@import '../../../styles/mixin.scss';

:host {
    @include dFlex();
    height: 100vh;
    width: 100%;
}

.content-wrapper {
    .input-style, .error-text, .btn-container {
        width: 400px;
    }
}

.width-450 {
    width: 450px;
}

// Responsive Design:
@media(max-width: 716px) {
    .content-wrapper {
        padding: 0 8px;
    }
}

@media(max-width: 654px) {
    h1 {
        width: 210px;
        text-align: center;
    }
}

@media(max-width: 450px) {
    .content-wrapper {    
        .input-style, .error-text, .btn-container {
            width: 100%;
        }
    }
}